@media (min-width: 576px) and (max-width:768px){
    .navbarVelocity{
       
    }
  .header__banner{
      display: none;
  }
  .nav-item{
      padding: 8px 24px;
  }
  .navbar-brand{
      display: block;
  }
 body header{
    height: 300px !important;
    padding-top: 100px!important;
}
.features{
    padding: 50px;
}
.carousel-feedback-content{
    padding: 80px 30px;
}
.carousel-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pressItem img{
    display: block;
    margin: 0 auto;
}
.footer .footer-top-item h2{
    text-align: center;
 }
 .footer-top-item-content{
     text-align: center;
 }
 .footer-top-item-content a{
     font-size : 2rem!important;
 }
 .footer-top-item-content a i {
     display: none;
 }
 .footer-top-item-icon{
     text-align: center;
     margin-top:10px;
 }
 
}
@media (min-width: 768px) and (max-width:992px) {
   
    .navbar-toggler{
        display: none;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
    }
    .subnav::after{
        display: none;
    }
    .header__banner h1{
        font-size: 3rem;
    }
    .header__banner p{
        display: none;
    }
    
   
}
@media (min-width: 992px) and (max-width:1200px){
header{
    padding-top: 110px;
}
.feature-comment-content::after{
    display: none !important;
}

}
@media (max-width: 575px){
    /* .navbarVelocity{
        box-shadow: none;
    } */
    .header__banner{
        display: none;
    }
    .nav-item{
        padding: 4px 24px;
    }
    .nav-linkVelocity{
        font-size :0.8rem;
    }
    .navbar-toggler{
        
        font-size :1.2rem!important;
        
    }
    body header{
        height: 200px !important;
        padding-top: 0px!important;
    }
    .features{
        padding: 20px;
    }
    .carousel-feedback-content{
        padding: 50px 20px;
    }
    .carousel-img-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .feedback{
        padding: 20px 20px!important;
    }
    .carousel-indicators li {
        margin-top: 20px!important;
        
    }
    .feedback-quote p:nth-child(3){
       
        margin-bottom: 30px!important;
        
    }
    .pressItem{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pressItem img{
        display: block;
        margin: 0 auto;
    }
    .footer .footer-top-item h2{
       text-align: center;
    }
    .footer-top-item-content{
        text-align: center;
    }
    .footer-top-item-content a{
        font-size : 2rem!important;
    }
    .footer-top-item-content a i {
        display: none;
    }
    .footer-top-item-icon{
        text-align: center;
        margin-top:10px;
    }
    

}
@media (max-width: 992px){
    .navbar-toggler{
        margin-top: 20px;
        color : white;
        font-size :2rem;
        margin-right: 20px;
    }
    .navbar-brand{
        right: 50%;
        transform: translateX(50%);
    }
    header{
        height: 500px !important;
        padding-top: 120px!important;
    }
    .features{
        padding-top: 50px!important;
    }
    .features-content{
        margin-bottom: 50px !important;
    }
    .feature-comment-content::after{
        display: none !important;
    }
   

}
@media (min-width: 576px){
.navbar-toggler{
    margin-top: 20px;
    color : white;
    font-size :2rem;
}


}